.banner {
  height: 100%;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.7)
    ),
    url("./banner-fon.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
