.paragraph {
  font-weight: 500;
  color: var(--base-black);
}

.large {
  font-size: 16px;
  line-height: 21px;
}

.medium {
  font-size: 14px;
  line-height: 18px;
}

.small {
  font-size: 12px;
  line-height: 16px;
}
