.swiperBlock {
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
  padding: var(--space-sm);

  .swiper {
    width: 100%;
    padding-block: var(--space-md);

    .slide {
      height: 300px;
      width: 300px;

      border-radius: var(--rounded-slide);
      border: 5px solid var(--base-white);
      box-shadow: 0px 0px 15px 0px rgba(112, 111, 154, 0.458);
      overflow: hidden;

      @media screen and (max-width: 600px) {
        height: 150px;
        width: 150px;
        border: 2px solid var(--base-white);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
