.item {
  background-color: var(--base-white);
  border-radius: var(--rounded-box);
  padding: var(--space-xs-xs);

  .imgWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--rounded-img);
    overflow: hidden;
    height: 220px;

    @media screen and (max-width: 600px) {
      height: 205px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .itemBody {
    padding: var(--space-xs);

    .paragraph {
      color: var(--gray-100);
      margin-block: 10px;
    }

    .statusBlock {
      display: flex;
      align-items: center;
      gap: var(--space-xs-xs);

      .statusParagraph {
        color: var(--base-black);
      }
    }

    .divider {
      margin-block: 10px;
      border-radius: var(--rounded-box);
      border: 1px solid var(--light-gray-250);
    }

    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: var(--space-xs);
      padding: var(--space-xs);

      .left {
        display: flex;
        align-items: center;
        gap: var(--space-xs-xs);
      }

      .right {
        .opened {
          color: var(--tertiary-350);
        }
        .closed {
          color: var(--red-200);
        }
      }
    }
  }
}
