.section {
  padding-block: var(--space-lg);

  @media screen and (max-width: 600px) {
    padding-block: var(--space-sm);
  }

  .label {
    margin-bottom: var(--space-md);
  }

  .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: var(--space-xs);
  }
}
