:root {
  --font-geist: "Geist", sans-serif;

  --primary-550: #001849;
  --primary-500: #00246d;
  --primary-450: #003192;
  --primary-400: #003db6;
  --primary-350: #0049db;
  --primary-300: #0055ff;
  --primary-250: #246dff;
  --primary-200: #4986ff;
  --primary-150: #6d9eff;
  --primary-100: #92b6ff;
  --primary-50: #b6ceff;

  --secondary-550: #4e1c02;
  --secondary-500: #752904;
  --secondary-450: #9b3705;
  --secondary-400: #c24506;
  --secondary-350: #e95307;
  --secondary-300: #f86a23;
  --secondary-250: #f97e40;
  --secondary-200: #fa9360;
  --secondary-150: #fba980;
  --secondary-100: #fcbea0;
  --secondary-50: #fdd4bf;

  --tertiary-550: #024020;
  --tertiary-500: #026030;
  --tertiary-450: #03803f;
  --tertiary-400: #04a04f;
  --tertiary-350: #05c05f;
  --tertiary-300: #06df6f;
  --tertiary-250: #15f983;
  --tertiary-200: #3cfa98;
  --tertiary-150: #63fbac;
  --tertiary-100: #8afcc1;
  --tertiary-50: #b1fdd6;

  --red-250: #e00022;
  --red-200: #ff1e40;
  --red-150: #ff4f69;
  --red-100: #ff7f92;
  --red-50: #ffafbb;

  --base-white: #fff;
  --base-white-neutral: rgba(255, 255, 255, 0.5);

  --base-black: #000;
  --base-black-neutral: rgba(0, 0, 0, 0.5);

  --gray-250: #3a4352;
  --gray-200: #4a5568;
  --gray-150: #687792;
  --gray-100: #909cb0;
  --gray-50: #bac1ce;

  --light-gray-250: #e4e8ec;
  --light-gray-200: #edf1f5;
  --light-gray-150: #f2f6fa;
  --light-gray-100: #f8f9fa;
  --light-gray-50: #f7fafc;

  --space-xs-xs: 5px;
  --space-xs: 8px;
  --space-sm: 16px;
  --space-md: 24px;
  --space-lg: 32px;
  --space-xl: 40px;

  --rounded-slide: 25px;
  --rounded-box: 20px;
  --rounded-img: 16px;
}
