.heading {
  font-weight: bold;
  color: var(--base-black);
}

.large {
  font-size: 30px;
  line-height: 40px;
}

.medium {
  font-size: 26px;
  line-height: 38px;
}

.small {
  font-size: 24px;
  line-height: 32px;
}
