.section {
  padding-block: var(--space-md);

  .flex {
    display: flex;
    overflow-x: auto;
    gap: var(--space-xs);
    cursor: grab;
    user-select: none;

    &:active {
      cursor: grabbing;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .item {
      min-width: 340px;

      @media screen and (max-width: 600px) {
        min-width: 300px;
      }
    }
  }
}
